body {
  color: #333;
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
h1 {
  font-size: 3.5em;
  font-family: 'Dancing Script', cursive;
}
h2,
h3,
h4,
h5 {
  font-family: 'Kanit', sans-serif;
}
.nav {
  margin: 20px 0;
}
.nav.nav-pills > li > a {
  border-radius: 0;
  text-decoration: none;
}
.nav.nav-tabs > li > a {
  border-radius: 0;
}
.nav.nav-tabs > li > a.active {
  background-color: #ddd;
}
.ingredient-list h5 {
  display: inline-block;
}
.ingredient-list h5 + .link {
  margin-left: 10px;
}
.ingredient-list .ingredient {
  padding: 3px 0 2px;
  border-bottom: 1px dotted #666;
}
.ingredient-list .ingredient .badge {
  margin-right: 0;
}
.large-description {
  font-size: 1.3em;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../image/bg-black-50.png');
  z-index: 5;
}
.overlay.panel-overlay {
  z-index: 3;
}
.overlay.ng-enter {
  -webkit-animation: fadeIn 0.3s both;
  animation: fadeIn 0.3s both;
}
.overlay.ng-leave {
  -webkit-animation: fadeOut 0.3s 0.3s both;
  animation: fadeOut 0.3s 0.3s both;
}
.overlay > .message {
  position: fixed;
  top: 50%;
  width: 100%;
  height: 20px;
  text-align: center;
  color: #fff;
  margin-top: -10px;
}
.menu-toggle {
  position: fixed;
  right: 0;
  top: 0;
}
.menu-toggle .badge {
  margin: 0 2px 0 5px;
}
.step {
  position: absolute;
  box-sizing: border-box;
  width: 50%;
  background-color: #b7ccd0;
  border: 1px solid #0F454F;
  /*
  &.merged {
    border-color: #333;
    background-color: #ccc;
    .setup {
      background-color: lighten(#ccc, 10%);
    }
  }
  */
}
.step.parallel {
  margin-left: 50%;
  background-color: #FFD7AA;
  border: 1px solid #AA7539;
}
.step.parallel .setup {
  background-color: #ffefdd;
}
.step.hold {
  border-color: blue;
  background-color: #9999ff;
}
.step.hold .setup {
  background-color: #ccccff;
}
.step.overlap {
  border-color: red;
  background-color: #ff9999;
}
.step.overlap .setup {
  background-color: #ffcccc;
}
.step.current {
  border-color: blue;
  background-color: #6666ff;
}
.step.current .setup {
  background-color: #9999ff;
}
.scale {
  position: relative;
}
.scale .increment {
  position: absolute;
  width: 100%;
  background-color: white;
}
.uib-time input,
.uib-time button {
  height: 30px;
  width: 30px;
  padding: 3px 5px;
  border-radius: 0;
}
.uib-time button {
  width: auto;
}
.time-picker {
  display: inline-block;
}
.time-picker + button {
  vertical-align: top;
}
form label {
  display: block;
  width: 100%;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8em;
}
form input,
form textarea,
form select {
  display: block;
  width: 100%;
  padding: 3px 5px;
}
form .form-field {
  position: relative;
  margin-bottom: 15px;
}
form .form-field.half-width {
  width: 50%;
}
form .form-field .checkbox {
  font-size: 1.5em;
  margin: 5px 0 0 0;
}
form .form-field .btn {
  position: absolute;
  top: 15px;
  right: 15px;
}
form .half-width .form-field {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  margin: 0 -3px 15px 0;
  vertical-align: top;
}
form .half-width .form-field + .form-field {
  margin: 0 0 15px -3px;
}
form .edit {
  background-color: #ddd;
  padding: 15px;
  margin: 15px -15px;
}
.image {
  background-size: cover;
  background-position: center center;
}
.image.recipe-image-edit {
  width: 100%;
  height: 200px;
}
.image.directory-image {
  position: relative;
  width: 100%;
  height: 200px;
  cursor: pointer;
}
.image.directory-image > .status {
  position: absolute;
  right: 0;
  bottom: 0;
  background: url('../image/bg-black-50.png');
  padding: 8px 15px;
  text-transform: uppercase;
  color: white;
}
.image.directory-image > button {
  position: absolute;
  bottom: 0;
  right: 0;
}
.table.logic > thead > tr > th {
  padding-bottom: 20px;
}
.table.logic > tbody > tr > td {
  padding: 0;
}
a,
.link {
  color: #204d74;
  text-decoration: underline;
  cursor: pointer;
}
a.no-underline,
.link.no-underline {
  text-decoration: none;
}
hr {
  border-top-color: #333;
  margin-top: 15px;
  margin-bottom: 15px;
}
hr.short {
  margin-top: 5px;
  margin-bottom: 5px;
}
hr.dotted {
  border-top-style: dashed;
  border-top-color: #999;
}
hr.spacer {
  border-top-color: transparent;
}
.btn {
  border-radius: 0;
}
.empty {
  text-decoration: center;
  padding: 15px;
}
.badge {
  margin-right: 5px;
}
.badge > .link {
  color: white;
}
.panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 600px;
  max-width: 100%;
  margin-bottom: 0;
  background-color: #efefef;
  border-radius: 0;
  overflow-y: scroll;
  z-index: 4;
  -webkit-box-shadow: 5px 0px 30px 1px #666;
  -moz-box-shadow: 5px 0px 30px 1px #666;
  box-shadow: 5px 0px 30px 1px #666;
}
.panel.panel-bottom {
  top: auto;
  left: 0;
  height: auto;
  width: 100%;
  overflow: hidden;
}
.panel.panel-bottom.ng-enter {
  -webkit-animation: slideInBottom 0.3s;
  -moz-animation: slideInBottom 0.3s;
  animation: slideInBottom 0.3s;
}
.panel.panel-bottom.ng-leave {
  -webkit-animation: slideOutBottom 0.3s;
  -moz-animation: slideOutBottom 0.3s;
  animation: slideOutBottom 0.3s;
}
.panel.panel-bottom > .inner {
  padding: 15px;
}
.panel.ng-enter {
  -webkit-animation: slideInRight 0.3s;
  -moz-animation: slideInRight 0.3s;
  animation: slideInRight 0.3s;
}
.panel.ng-leave {
  -webkit-animation: slideOutRight 0.3s;
  -moz-animation: slideOutRight 0.3s;
  animation: slideOutRight 0.3s;
}
.panel > .inner {
  position: relative;
}
.panel > .inner > h3 {
  margin: 10px 0 0;
  padding: 15px;
}
.panel > .inner > section {
  padding: 15px;
}
.panel > .inner > section > h4 {
  position: relative;
  margin: 10px 0 0;
}
.panel > .inner > section > h4 > .btn {
  position: absolute;
  top: -5px;
  right: 0;
}
.panel > .inner > section h5 {
  font-weight: bold;
}
.panel > .inner > section .recipe-image {
  width: 100%;
  border: 1px solid #666;
}
.panel > .inner > .top-buttons {
  position: absolute;
  top: 15px;
  right: 15px;
}
.input-group {
  width: 100%;
}
.input-group > .btn {
  width: 100%;
  text-transform: uppercase;
}
.input-group > .btn > i {
  margin-right: 3px;
}
