body {
  color: #333;
}
.step {
  position: absolute;
  box-sizing: border-box;
  width: 50%;
  background-color: #b7ccd0;
  border: 1px solid #0F454F;
}
.step.parallel {
  margin-left: 50%;
  background-color: #FFD7AA;
  border: 1px solid #AA7539;
}
.step.parallel .setup {
  background-color: #ffefdd;
}
.step.merged {
  border-color: #333;
  background-color: #ccc;
}
.step.merged .setup {
  background-color: #e6e6e6;
}
.step.hold {
  border-color: blue;
  background-color: #9999ff;
}
.step.hold .setup {
  background-color: #ccccff;
}
.step.overlap {
  border-color: red;
  background-color: #ff9999;
}
.step.overlap .setup {
  background-color: #ffcccc;
}
.scale {
  position: relative;
}
.scale .increment {
  position: absolute;
  width: 100%;
  background-color: white;
  text-align: right;
}
.uib-time input,
.uib-time button {
  height: 30px;
  width: 30px;
  padding: 3px 5px;
  border-radius: 0;
}
.uib-time button {
  width: auto;
}
.table > thead > tr th {
  padding-bottom: 20px;
}
