body {
  color: #333;
}
header {
  margin-bottom: 20px;
}
header .time-picker {
  display: inline-block;
  vertical-align: bottom;
}
.row {
  position: relative;
}
.current-step {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.current-step .description {
  padding: 20px 0;
  background-color: #ccc;
}
.recipe {
  display: inline-block;
  vertical-align: top;
}
.recipe .method {
  position: relative;
  margin-top: 20px;
}
.recipe .method .step {
  position: absolute;
  font-size: 0.8em;
  background-color: #e7e7e7;
  width: 50%;
  -webkit-box-shadow: inset 0 0 1px 0 #333;
  box-shadow: inset 0 0 1px 0 #333;
}
.recipe .method .step.unmerged {
  position: relative;
}
.recipe .method .step.wait {
  right: 0;
}
.recipe .method .step.active {
  background-color: #9999ff;
}
.time-marker {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px solid red;
  z-index: 1;
}
.time-marker > span {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 80px;
  margin-left: -40px;
  padding: 3px 5px;
  background: #ccc;
  text-align: center;
  box-sizing: border-box;
}
.uib-time input,
.uib-time button {
  height: 30px;
  width: 30px;
  padding: 3px 5px;
  border-radius: 0;
}
.uib-time button {
  width: auto;
}
