<div class="panel panel-bottom" ng-if="$root.showMenu">
  <div class="inner container">
    <div class="row">
      <div class="emptycol-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" ng-if="menuPanel.data.length === 0">
        no recipes in your menu
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2" ng-repeat="recipe in menuPanel.data">
        <h5>{{recipe.name}}</h5>
        <div class="image directory-image" ng-style="recipe.imageStyle" ng-click="$root.currentRecipe = recipe">
          <button class="btn btn-danger" ng-click="$event.stopPropagation(); menu.removeRecipe(recipe.id);"><i class="fa fa-trash"></i></button>
        </div>
        <hr class="short spacer" />
        <div class="input-group" moment-picker="recipe.servingTime" format="Do MMM, h:mm a" today="true" change="menuPanel.servingTimeChange(recipe.id, recipe.servingTime)">
          <span class="btn btn-primary">
            <i class="fa fa-clock-o"></i>
            <span>{{recipe.servingTime}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
