body {
  color: #333;
}

.step {
  position: absolute;
  box-sizing: border-box;
  width: 50%;
  background-color: lighten(#6A959D, 25%);
  border: 1px solid #0F454F;
  &.parallel {
    margin-left: 50%;
    background-color: #FFD7AA;
    border: 1px solid #AA7539;
    .setup {
      background-color: lighten(#FFD7AA, 10%);
    }
  }
  &.merged {
    border-color: #333;
    background-color: #ccc;
    .setup {
      background-color: lighten(#ccc, 10%);
    }
  }
  &.hold {
    border-color: blue;
    background-color: lighten(blue, 30%);
    .setup {
      background-color: lighten(blue, 40%);
    }
  }
  &.overlap {
    border-color: red;
    background-color: lighten(red, 30%);
    .setup {
      background-color: lighten(red, 40%);
    }
  }
}

.scale {
  position: relative;
  .increment {
    position: absolute;
    width: 100%;
    background-color: white;
    text-align: right;
  }
}

.uib-time {
  input, button {
    height: 30px;
    width: 30px;
    padding: 3px 5px;
    border-radius: 0;
  }
  button {
    width: auto;
  }
}

.uib-timepicker {
  // margin: 0 auto;
}

.table {
  > thead {
    > tr {
        th {
          padding-bottom: 20px;
        }
    }
  }
}
