<div ng-controller="adminController" ng-init="ctrl.init()">
  <h3>{{{true: 'Admin', false: 'Log In'}[authentication.isAdmin()]}}</h3>
  <login-form></login-form>
  <span id="logout" class="link" ng-click="authentication.logOut()" ng-if="authentication.isAdmin()">log out</span>
  <div ng-if="$root.user">
    <table class="table table-responsive">
      <thead>
        <th>Name</th>
        <th>Tags</th>
        <th>Source</th>
        <th>Enabled</th>
        <th><button class="btn btn-primary pull-right" ng-click="ctrl.addRecipe()"><i class="fa fa-plus"></i></button></th>
      </thead>
      <tbody>
        <tr ng-repeat="(id, recipe) in $root.adminRecipes">
          <td>{{recipe.name}}</td>
          <td><span class="badge" ng-repeat="tag in recipe.tags">{{tag}}</span></td>
          <td>
            <a href="{{recipe.source.url}}" target="_blank" ng-if="recipe.source.url">{{recipe.source.name}}</a>
            <strong ng-if="recipe.source.reference">{{recipe.source.reference}}</strong>
          </td>
          <td>{{recipe.enabled ? 'Yes' : 'No'}}</td>
          <td class="text-right"><button class="btn btn-primary" ng-click="ctrl.editRecipe(id)"><i class="fa fa-edit"></i></button></td>
        </tr>
      </tbody>
    </table>
    <div class="empty" ng-if="!$root.recipes">
      no recipes to show
    </div>
    <div class="panel" ng-if="ctrl.recipe">
      <form class="inner" name="recipeForm">
        <div class="top-buttons">
          <button class="btn btn-danger" ng-click="ctrl.closePanel()"><i class="fa fa-close"></i></button>
          <button class="btn" ng-class="{'btn-warning': ctrl.recipe.enabled}" ng-click="ctrl.recipe.enabled = !ctrl.recipe.enabled"><i class="fa" ng-class="{'fa-toggle-on': ctrl.recipe.enabled, 'fa-toggle-off': !ctrl.recipe.enabled}"></i></button>
          <button class="btn btn-success" ng-click="ctrl.save()"><i class="fa fa-check"></i></button>
        </div>
        <h3>{{{true: 'Edit', false: 'Add'}[ctrl.edit.recipe !== null]}} Recipe</h3>
        <section>
          <h4>
            <span>Details</span>
            <button class="btn" ng-class="{'btn-primary': !ctrl.edit.details, 'btn-success': ctrl.edit.details}" ng-click="ctrl.editDetails()">
              <i class="fa" ng-class="{'fa-edit': !ctrl.edit.details, 'fa-check': ctrl.edit.details}"></i>
            </button>
          </h4>
          <hr />
          <div class="row" ng-if="!ctrl.edit.details">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="image recipe-image-edit" ng-style="ctrl.recipe.imageStyle"></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div><strong>{{ctrl.recipe.name}}</strong></div>
              <div>{{ctrl.recipe.description}}</div>
              <hr class="short spacer" />
              <div>
                <span>Serves:</span>
                <span class="badge">{{ctrl.recipe.serves}}</span>
              </div>
              <hr class="short spacer" />
              <div>
                <span class="badge" ng-repeat="tag in ctrl.recipe.tags">{{tag}}</span>
              </div>
              <hr class="short spacer" />
              <div>
                <span>Source:</span>
                <a href="{{ctrl.recipe.source.url}}" target="_blank" ng-if="ctrl.recipe.source.url">{{ctrl.recipe.source.name}}</a>
                <strong ng-if="ctrl.recipe.source.reference">{{ctrl.recipe.source.reference}}</strong>
              </div>
            </div>
          </div>
          <div class="edit" ng-if="ctrl.edit.details">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-field col-sm-12 col-md-12 col-lg-12">
                  <label>Image</label>
                  <input type="file" id="newImage" name="image" />
                  <div class="image recipe-image-edit" ng-style="ctrl.recipe.imageStyle"></div>
                  <button style="margin-top: 10px;" class="btn btn-primary" ng-click="ctrl.saveImage()">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-field col-sm-12 col-md-8 col-lg-8">
                  <label>Name</label>
                  <input type="text" name="name" ng-model="ctrl.recipe.name" />
                </div>
                <div class="form-field col-sm-12 col-md-4 col-lg-4">
                  <label>Serves</label>
                  <input type="number" name="serves" ng-model="ctrl.recipe.serves" min="1" />
                </div>
                <div class="form-field col-sm-12 col-md-12 col-lg-12">
                  <label>Description</label>
                  <input type="text" name="description" ng-model="ctrl.recipe.description" />
                </div>
                <div class="form-field col-sm-12 col-md-12 col-lg-12">
                  <label>Tags</label>
                  <i style="margin: 10px 10px -25px;" class="link fa fa-plus no-underline pull-right" ng-click="ctrl.addTag()"></i>
                  <input type="text" name="newTag" ng-model="ctrl.newTag" />
                  <hr class="short spacer" />
                  <div>
                    <span class="badge" ng-repeat="tag in ctrl.recipe.tags">
                      {{tag}}
                      <i class="link fa fa-close no-underline"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <h5>Source</h5>
            <div class="row">
              <div class="form-field col-sm-12 col-md-12 col-lg-12">
                <label>Name</label>
                <input type="text" name="name" ng-model="ctrl.recipe.source.name" />
              </div>
              <div class="form-field col-sm-12 col-md-12 col-lg-12">
                <label>URL</label>
                <input type="text" name="source-url" ng-model="ctrl.recipe.source.url" min="1" />
              </div>
              <div class="form-field col-sm-12 col-md-12 col-lg-12">
                <label>Reference</label>
                <input type="text" name="source-reference" ng-model="ctrl.recipe.source.reference" />
              </div>
            </div>
          </div>
        </section>
        <section>
          <h4>
            <span>Ingredients</span>
            <button class="btn btn-primary" ng-click="ctrl.addIngredient()"><i class="fa fa-plus"></i></button>
          </h4>
          <hr />
          <div class="empty" ng-if="ctrl.recipe.ingredients.length === 0">
            no ingredients to show
          </div>
          <div class="row">
            <div ng-repeat="ingredients in ctrl.recipe.ingredients">
              <div class="ingredient-list col-sm-12 col-md-12 col-lg-12">
                <hr class="short spacer" ng-if="$index > 0" />
                <h5 ng-if="ctrl.edit.ingredientGroup != ingredients.component && ctrl.recipe.ingredients.length > 1">{{ingredients.component}}</h5>
                <span class="link" ng-click="ctrl.edit.ingredientGroup = ingredients.component" ng-if="ctrl.edit.ingredientGroup != ingredients.component">
                  edit
                </span>
                <div class="ingredient" ng-repeat="ingredient in ingredients.list" ng-if="ctrl.edit.ingredientGroup != ingredients.component">
                  <span>{{ingredient.description}}</span>
                  <span class="badge pull-right" ng-if="ingredient.quantity || ingredient.unit">{{ingredient.quantity}} {{ingredient.unit}}</span>
                </div>
                <div class="edit" ng-show="ctrl.edit.ingredientGroup == ingredients.component">
                  <h5>
                    <span style="margin-right: 10px;" class="link no-underline" ng-click="ctrl.removeIngredient(ingredients.component)"><i class="fa fa-trash"></i></span>
                    <span>Edit '{{ingredients.component.length > 0 ? ingredients.component : 'new component'}}' ingredients</span>
                  </h5>
                  <div class="row">
                    <div class="form-field col-sm-10 col-md-10 col-lg-10">
                      <label>Component</label>
                      <input type="text" name="ingredient-component-{{$parent.$index}}" ng-disabled="ctrl.recipe.ingredients.length === 1" ng-model="ingredients.component" ng-change="ctrl.edit.ingredientGroup = ingredients.component" />
                    </div>
                    <div class="form-field col-sm-2 col-md-2 col-lg-2">
                      <button class="btn btn-success" ng-click="ctrl.edit.ingredientGroup = null" ng-if="ctrl.edit.ingredientGroup == ingredients.component">
                        <i class="fa fa-check"></i>
                      </button>
                    </div>
                  </div>
                  <div class="pull-right" ng-if="ctrl.edit.ingredient === null">
                    <button class="btn btn-primary" ng-click="ctrl.addIngredient(ingredients.component)">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                  <div class="empty" ng-if="ingredients.list.length === 0">
                    no ingredients to show
                  </div>
                  <div ng-repeat="ingredient in ingredients.list">
                    <div ng-if="ctrl.edit.ingredient != $index">
                      <span style="margin-right: 15px;" class="link no-underline" ng-click="ctrl.edit.ingredient = $index"><i class="fa fa-edit"></i></span>
                      <span style="margin-right: 15px;" class="link no-underline" ng-click="ctrl.removeIngredient(ingredients.component, $index)"><i class="fa fa-trash"></i></span>
                      <span>{{ingredient.description}} <span ng-if="ingredient.quantity || ingredient.unit">-</span> {{ingredient.quantity}} {{ingredient.unit}}</span>
                    </div>
                    <div class="row" ng-if="ctrl.edit.ingredient == $index">
                      <hr class="spacer short" />
                      <div class="form-field col-sm-12 col-md-6 col-lg-6">
                        <label>Description</label>
                        <input type="text" name="ingredient-description-{{$parent.$index}}-{{$index}}" ng-model="ingredient.description" />
                      </div>
                      <div class="form-field col-sm-4 col-md-2 col-lg-2">
                        <label>Quantity</label>
                        <input type="number" name="ingredient-quantity-{{$parent.$index}}-{{$index}}" ng-model="ingredient.quantity" min="0" />
                      </div>
                      <div class="form-field col-sm-4 col-md-2 col-lg-2">
                        <label>Unit</label>
                        <input type="text" name="ingredient-unit-{{component}}-{{$index}}" ng-model="ingredient.unit" />
                      </div>
                      <div class="form-field col-sm-4 col-md-2 col-lg-2">
                        <button class="btn btn-success" ng-click="ctrl.edit.ingredient = null" ng-if="ctrl.edit.ingredient == $index">
                          <i class="fa fa-check"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h4>
            <span>Steps</span>
            <button class="btn btn-primary" ng-click="ctrl.addStep()"><i class="fa fa-plus"></i></button>
          </h4>
          <hr />
          <div class="empty" ng-if="ctrl.recipe.steps.length === 0">
            no steps to show
          </div>
          <div ng-repeat="step in ctrl.recipe.steps">
            <div class="row" ng-if="ctrl.edit.step !== $index">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <span class="badge">{{$index + 1}}</span>
                <span>{{step.description}}</span>
              </div>
              <div class="col-xs-10 col-sm-10 col-md-4 col-lg-4">
                <div><i class="fa fa-clock-o"></i> {{step.duration}} min</div>
                <hr class="short spacer" />
                <div>Parallel? <strong>{{{true: 'Yes', false: 'No'}[step.parallel]}}</strong></div>
                <div ng-if="step.parallel">Setup <i class="fa fa-clock-o"></i> {{step.setupDuration}} min</div>
                <hr class="short spacer" />
                <div ng-if="step.dependsOn">
                  <div>Depends On:</div>
                  <div><span class="badge" ng-repeat="dependency in step.dependsOn">Step {{dependency + 1}}</span></div>
                </div>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-primary pull-right" ng-click="ctrl.edit.step = $index">
                  <i class="fa fa-edit"></i>
                </button>
              </div>
            </div>
            <div class="edit" ng-show="ctrl.edit.step === $index">
              <h5>
                <span style="margin-right: 10px;" class="link no-underline" ng-click="ctrl.removeStep($index)"><i class="fa fa-trash"></i></span>
                <span>Edit Step {{$index + 1}}</span>
              </h5>
              <div class="row">
                <div class="form-field col-sm-12 col-md-10 col-lg-10">
                  <label>Description</label>
                  <textarea name="step-description-{{$index}}" ng-model="step.description"></textarea>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2">
                  <button class="btn btn-success pull-right" ng-click="ctrl.edit.step = null">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
                <div class="form-field col-sm-12 col-md-4 col-lg-4">
                  <label>Duration</label>
                  <input type="number" name="step-duration-{{$index}}" ng-model="step.duration" min="1" />
                </div>
                <div class="form-field col-sm-6 col-md-4 col-lg-4">
                  <label>Parallel</label>
                  <div>
                    <i class="fa checkbox" ng-class="{'fa-check-square-o': step.parallel, 'fa-square-o': !step.parallel}" ng-click="ctrl.toggleParallel(step)"></i>
                  </div>
                </div>
                <div class="form-field col-sm-6 col-md-4 col-lg-4" ng-if="step.parallel">
                  <label>Setup Duration</label>
                  <input type="number" name="step-setupduration-{{$index}}" ng-model="step.setupDuration" min="1" />
                </div>
                <div class="form-field col-sm-12 col-md-12 col-lg-12" ng-if="$index > 0">
                  <label>Depends On</label>
                  <select name="addDependent" ng-model="ctrl.selectedDependency" ng-change="ctrl.addDependency(step)">
                    <option value="">select a step</option>
                    <option value="{{$index}}" ng-repeat="dependency in shownSteps = (ctrl.recipe.steps | filter: ctrl.filterSteps($parent.$index))">{{$index + 1}} - {{dependency.description | limitTo: 50}}...</option>
                  </select>
                  <hr class="short spacer" />
                  <div ng-repeat="dependency in step.dependsOn">
                    <span style="margin-right: 15px;" class="link no-underline" ng-click="ctrl.removeDependency(step, $index)"><i class="fa fa-trash"></i></span>
                    <span class="badge">Step {{dependency + 1}}</span>
                  </div>
                </div>
              </div>
            </div>
            <hr class="short dotted" />
          </div>
        </section>
      </form>
    </div>
    <div class="overlay panel-overlay" ng-if="ctrl.recipe" ng-click="ctrl.recipe = null"></div>
  </div>
</div>
