/* You can add global styles to this file, and also import other style files */
// ff nightly or chrome with flags enabled
// https://www.youtube.com/watch?v=Dz9BzY21Zks&list=PLQkVA6z3dFvbnBJetfYDAF3-cG_ubgdZR
// http://gridbyexample.com/
// Rachel Andrew F.T.W

body {
  color: #333;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
}
