form {
  display: inline-block;
  margin-left: 50px;
  font-size: 1.8em;
  > i {
    margin-right: 20px;
  }
  > input {
    background-color: transparent;
    border: none;
    padding: 0;
    &:focus {
      outline: none;
    }
  }
}
